<div class="navbar">
    <div class="navbarItem" id="toolBarLeft" style="float: left">
        <a href="/">Home</a>
    </div>
    <div style="float: right">
        <div class="dropdown navbarItem">
            <button class="dropbtn">The Game</button>
            <div class="dropdown-content">
                <a href="/game/getting_started">Getting Started</a>
                <a href="/game/themes">The Theme</a>
                <a href="/game/style">The Style</a>
            </div>
        </div>
        <div class="dropdown navbarItem">
            <button class="dropbtn">The World</button>
            <div class="dropdown-content">
                <a href="/world/neverwas">The Neverwas</a>
                <a href="/world/peoples">The Peoples</a>
                <a href="/world/places">The Places</a>
            </div>
        </div>
        <div class="dropdown navbarItem">
            <button class="dropbtn">The Rules</button>
            <div class="dropdown-content">
                <a href="/rules/combat">Combat</a>
                <a href="/rules/skills">Skills</a>
                <a href="/rules/calls">Calls</a>
                <a href="/rules/downtime">Downtimes</a>
            </div>
        </div>
    </div>
</div>