* {
    box-sizing: border-box;
}

html {
	min-height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100%;
	position: absolute;
	left: 0;
	right: 0;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
}

a {
    color: white;   
}